
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

.imgitemslider{
    width: auto;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.slider-item{
display: inline-block;
width: 100%;
}
.slider-inner{
white-space: nowrap;
transition: ease .2s;
}
.sliderContainer{
    margin: 0 auto;
    overflow: hidden;
    max-width: 150px;
    border-radius: 20px 0 0 20px;
    position: relative;
}

.slider-control{
background-color: rgba(0,0,0,0.5);
border: none;
display: inline-block;
position: absolute;
height: 40px;
width: 40px;
top: calc(55% - 25px);
color: #f3f3f3;
cursor: pointer;
} 

.left{
left: 0;
border-radius: 0px 20px 20px 0px;
}
.right{
right: 0;
border-radius: 20px 0 0 20px;
}
.carousel-indicators {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1.5em;
    z-index: 2;
  }
  .carousel-indicator-item {
    width: 15px;
    height: 15px;
    border: none;
    background: #fff;
    opacity: 0.5;
    margin: 0.2em;
    border-radius: 50%;
    cursor: pointer;
  }
  .active {
    opacity: 1;
  }
  @media(max-width:510px){
.itemContentText{
  display: none;
}
  }